# Screappear top 250 de IMDB

In [1]:
Entrar a cada una de las primeras páginas. 
sacar nombre peli, sinopsis y puntuación de al menos las 10 primeras.

SyntaxError: invalid syntax (<ipython-input-1-d68b7cfe8530>, line 1)

In [14]:
import requests

In [4]:
mainpage = page1 = requests.get("https://www.imdb.com/search/title/?groups=top_250&sort=user_rating")

page1 = requests.get("https://www.imdb.com/title/tt0111161/?ref_=adv_li_tt")
page2 = requests.get("https://www.imdb.com/title/tt0068646/")
page3 = requests.get("https://www.imdb.com/title/tt0468569/")
page4 = requests.get("https://www.imdb.com/title/tt0071562/")
page5 = requests.get("https://www.imdb.com/title/tt0167260/")
page6 = requests.get("https://www.imdb.com/title/tt0110912/")
page7 = requests.get("https://www.imdb.com/title/tt0108052/")
page8 = requests.get("https://www.imdb.com/title/tt0050083/")
page9 = requests.get("https://www.imdb.com/title/tt7286456/")
page10 = requests.get("https://www.imdb.com/title/tt1375666/")

In [5]:
from bs4 import BeautifulSoup as bs
msoup=bs(mainpage.content,'html.parser')
soup1 = bs(page1.content, 'html.parser')
soup2 = bs(page2.content, 'html.parser')
soup3 = bs(page3.content, 'html.parser')
soup4 = bs(page4.content, 'html.parser')
soup5 = bs(page5.content, 'html.parser')
soup6 = bs(page6.content, 'html.parser')
soup7 = bs(page7.content, 'html.parser')
soup8 = bs(page8.content, 'html.parser')
soup9 = bs(page9.content, 'html.parser')
soup10 = bs(page10.content, 'html.parser')

In [9]:
top10url=[soup1,soup2,soup3,soup4,soup5,soup6,soup7,soup8,soup9,soup10]

In [17]:
allurls = msoup.select('.lister-list .lister-item-header a')

movie_pages= []
for tr in allurls[:10]:
    tmpUrl = 'https://www.imdb.com' + tr['href']
    movie_pages.append(tmpUrl)

print(movie_pages)

['https://www.imdb.com/title/tt0111161/', 'https://www.imdb.com/title/tt0068646/', 'https://www.imdb.com/title/tt0468569/', 'https://www.imdb.com/title/tt0071562/', 'https://www.imdb.com/title/tt0167260/', 'https://www.imdb.com/title/tt0110912/', 'https://www.imdb.com/title/tt0108052/', 'https://www.imdb.com/title/tt0050083/', 'https://www.imdb.com/title/tt7286456/', 'https://www.imdb.com/title/tt1375666/']

In [29]:
movies=[]

for p in movie_pages[:10]:
    html = requests.get(p)
    s = bs(html.content,'html.parser')
    movies.append({'title':s.select_one('.title_wrapper h1').text,
                  'summary':s.select_one('.plot_summary .summary_text').text,
                  'rating':s.select_one('.imdbRating .ratingValue strong').text})
    print(movies[-1]['title'])

Cadena perpetua (1994)
El padrino (1972)
El caballero oscuro (2008)
El padrino: Parte II (1974)
El señor de los anillos: El retorno del rey (2003)
Pulp Fiction (1994)
La lista de Schindler (1993)
12 hombres sin piedad (1957)
Joker (2019)
Origen (2010)

In [32]:
import pandas as pd
df = pd.DataFrame(movies)
df

,rating,summary,title
0,9.3,\n Two imprisoned men bond ...,Cadena perpetua (1994)
1,9.2,\n The aging patriarch of a...,El padrino (1972)
2,9.0,\n When the menace known as...,El caballero oscuro (2008)
3,9.0,\n The early life and caree...,El padrino: Parte II (1974)
4,8.9,\n Gandalf and Aragorn lead...,El señor de los anillos: El retorno del rey (2...
5,8.9,\n The lives of two mob hit...,Pulp Fiction (1994)
6,8.9,\n In German-occupied Polan...,La lista de Schindler (1993)
7,8.9,\n A jury holdout attempts ...,12 hombres sin piedad (1957)
8,8.8,"\n In Gotham City, mentally...",Joker (2019)
9,8.8,\n A thief who steals corpo...,Origen (2010)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
rating     10 non-null object
summary    10 non-null object
title      10 non-null object
dtypes: object(3)
memory usage: 320.0+ bytes

In [44]:
df['title2']=df['title'].str.split(" \(")
#df['year']=df['title'].str.split('(')[1].replace(')','')

df['title2']

0                            [Cadena perpetua (1994) ]
1                                 [El padrino (1972) ]
2                        [El caballero oscuro (2008) ]
3                       [El padrino: Parte II (1974) ]
4    [El señor de los anillos: El retorno del rey (...
5                               [Pulp Fiction (1994) ]
6                      [La lista de Schindler (1993) ]
7                      [12 hombres sin piedad (1957) ]
8                                      [Joker (2019) ]
9                                     [Origen (2010) ]
Name: title2, dtype: object

In [51]:
df['year'] =  df['title'].str[-6:-2]

,rating,summary,title,title2,year
0,9.3,\n Two imprisoned men bond ...,Cadena perpetua (1994),[Cadena perpetua (1994) ],1994
1,9.2,\n The aging patriarch of a...,El padrino (1972),[El padrino (1972) ],1972
2,9.0,\n When the menace known as...,El caballero oscuro (2008),[El caballero oscuro (2008) ],2008
3,9.0,\n The early life and caree...,El padrino: Parte II (1974),[El padrino: Parte II (1974) ],1974
4,8.9,\n Gandalf and Aragorn lead...,El señor de los anillos: El retorno del rey (2...,[El señor de los anillos: El retorno del rey (...,2003
5,8.9,\n The lives of two mob hit...,Pulp Fiction (1994),[Pulp Fiction (1994) ],1994
6,8.9,\n In German-occupied Polan...,La lista de Schindler (1993),[La lista de Schindler (1993) ],1993
7,8.9,\n A jury holdout attempts ...,12 hombres sin piedad (1957),[12 hombres sin piedad (1957) ],1957
8,8.8,"\n In Gotham City, mentally...",Joker (2019),[Joker (2019) ],2019
9,8.8,\n A thief who steals corpo...,Origen (2010),[Origen (2010) ],2010

In [55]:
df = df.drop(labels='title2',axis=1)

KeyError: "['title2'] not found in axis"

In [56]:
df

,rating,summary,title,year
0,9.3,\n Two imprisoned men bond ...,Cadena perpetua (1994),1994
1,9.2,\n The aging patriarch of a...,El padrino (1972),1972
2,9.0,\n When the menace known as...,El caballero oscuro (2008),2008
3,9.0,\n The early life and caree...,El padrino: Parte II (1974),1974
4,8.9,\n Gandalf and Aragorn lead...,El señor de los anillos: El retorno del rey (2...,2003
5,8.9,\n The lives of two mob hit...,Pulp Fiction (1994),1994
6,8.9,\n In German-occupied Polan...,La lista de Schindler (1993),1993
7,8.9,\n A jury holdout attempts ...,12 hombres sin piedad (1957),1957
8,8.8,"\n In Gotham City, mentally...",Joker (2019),2019
9,8.8,\n A thief who steals corpo...,Origen (2010),2010

In [62]:
df['title'] = df['title'].str[:-8]
df

,rating,summary,title,year
0,9.3,\n Two imprisoned men bond ...,Cadena perpetua,1994
1,9.2,\n The aging patriarch of a...,El padrino,1972
2,9.0,\n When the menace known as...,El caballero oscuro,2008
3,9.0,\n The early life and caree...,El padrino: Parte II,1974
4,8.9,\n Gandalf and Aragorn lead...,El señor de los anillos: El retorno del rey,2003
5,8.9,\n The lives of two mob hit...,Pulp Fiction,1994
6,8.9,\n In German-occupied Polan...,La lista de Schindler,1993
7,8.9,\n A jury holdout attempts ...,12 hombres sin piedad,1957
8,8.8,"\n In Gotham City, mentally...",Joker,2019
9,8.8,\n A thief who steals corpo...,Origen,2010

In [11]:
title1 = soup1.select('.title_wrapper .originalTitle')
sum1 = soup2.select('.plot_summary .summary_text')
rat1 = soup3.select('.imdbRating .ratingValue strong')


def data(x,y,z):
    j=[]
    l=[]
    m=[]
    for i in x:
        i=i.text
        j.append(i)
    for k in y:
        k=k.text
        l.append(k)
    for n in z:
        n = n.text
        m.append(n.strip())
    print (j, l, m, end=" ")

data(title1,rat1,sum1)

['The Shawshank Redemption (original title)'] ['9.0'] ['The aging patriarch of an organized crime dynasty transfers control of his clandestine empire to his reluctant son.']

In [12]:


def top10(o):
    titlex=[]
    sumx=[]
    ratx=[]
    for t in o:
        t = t.select('.title_wrapper h1')
        for d in t:
            d = d.text
            d = d.replace('\xc2\xa0', ' ')
            titlex.append(d)
    for s in o:
        s = s.select('.plot_summary .summary_text')
        for f in s:
            f = f.text      
            ratx.append(f)
    for r in o:
        r = r.select('.imdbRating .ratingValue strong')
        for g in r:
            g = g.text
            sumx.append(g.strip())
    return titlex,sumx,ratx


final = top10(top10url)
final

(['Cadena perpetua\xa0(1994) ',
  'El padrino\xa0(1972) ',
  'El caballero oscuro\xa0(2008) ',
  'El padrino: Parte II\xa0(1974) ',
  'El señor de los anillos: El retorno del rey\xa0(2003) ',
  'Pulp Fiction\xa0(1994) ',
  'La lista de Schindler\xa0(1993) ',
  '12 hombres sin piedad\xa0(1957) ',
  'Joker\xa0(2019) ',
  'Origen\xa0(2010) '],
 ['9.3', '9.2', '9.0', '9.0', '8.9', '8.9', '8.9', '8.9', '8.8', '8.8'],
 ['\n                    Two imprisoned men bond over a number of years, finding solace and eventual redemption through acts of common decency.\n            ',
  '\n                    The aging patriarch of an organized crime dynasty transfers control of his clandestine empire to his reluctant son.\n            ',
  '\n                    When the menace known as the Joker wreaks havoc and chaos on the people of Gotham, Batman must accept one of the greatest psychological and physical tests of his ability to fight injustice.\n            ',
  '\n                    The early life and career of Vito Corleone in 1920s New York City is portrayed, while his son, Michael, expands and tightens his grip on the family crime syndicate.\n            ',
  "\n                    Gandalf and Aragorn lead the World of Men against Sauron's army to draw his gaze from Frodo and Sam as they approach Mount Doom with the One Ring.\n            ",
  '\n                    The lives of two mob hitmen, a boxer, a gangster and his wife, and a pair of diner bandits intertwine in four tales of violence and redemption.\n            ',
  '\n                    In German-occupied Poland during World War II, industrialist Oskar Schindler gradually becomes concerned for his Jewish workforce after witnessing their persecution by the Nazis.\n            ',
  '\n                    A jury holdout attempts to prevent a miscarriage of justice by forcing his colleagues to reconsider the evidence.\n            ',
  '\n                    In Gotham City, mentally-troubled comedian Arthur Fleck is disregarded and mistreated by society. He then embarks on a downward spiral of revolution and bloody crime. This path brings him face-to-face with his alter-ego: "The Joker".\n            ',
  '\n                    A thief who steals corporate secrets through the use of dream-sharing technology is given the inverse task of planting an idea into the mind of a C.E.O.\n            '])

In [17]:
data = final[0:2]

In [16]:
import pandas as pd

In [ ]:

df = pd.DataFrame(data)
df