## Introduction to Data Cleaning

Run the first cell and import the laptops dataset.

You can find more information about the laptops dataset from the [kaggle data source](https://www.kaggle.com/ionaskel/laptop-prices)

We've also used the .info() command to pring the columns, number of values, and type of each column.

In [1]:
import pandas as pd
laptops = pd.read_csv("./laptops-raw.csv", encoding = "Latin-1", index_col=0)
print(laptops.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1303 entries, 1 to 1320
Data columns (total 12 columns):
Company              1303 non-null object
Product              1303 non-null object
Type-Name            1303 non-null object
Inches               1303 non-null float64
Screen-Resolution    1303 non-null object
Cpu                  1303 non-null object
Ram                  1303 non-null object
Memory               1303 non-null object
Gpu                  1303 non-null object
OpSys                1303 non-null object
Weight               1303 non-null object
Price(euros)         1303 non-null float64
dtypes: float64(2), object(10)
memory usage: 132.3+ KB
None

Use ```head()``` and inspect the first few rows of the dataframe. Think about the folowing questions when first lookign at your data.

Do we have any missing values?
What are some things you think might need cleaning?
Are column headers all uniform?
Are there columns with multiple similar entries?
Are there columns that contain numeric and text information?
How could we transform categorical features into numeric?

In [2]:
#Your Code Here

laptops.tail()

,Company,Product,Type-Name,Inches,Screen-Resolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price(euros)
1316,Lenovo,Yoga 500-14ISK,2 in 1 Convertible,14.0,IPS Panel Full HD / Touchscreen 1920x1080,Intel Core i7 6500U 2.5GHz,4GB,128GB SSD,Intel HD Graphics 520,Windows 10,1.8kg,638.0
1317,Lenovo,Yoga 900-13ISK,2 in 1 Convertible,13.3,IPS Panel Quad HD+ / Touchscreen 3200x1800,Intel Core i7 6500U 2.5GHz,16GB,512GB SSD,Intel HD Graphics 520,Windows 10,1.3kg,1499.0
1318,Lenovo,IdeaPad 100S-14IBR,Notebook,14.0,1366x768,Intel Celeron Dual Core N3050 1.6GHz,2GB,64GB Flash Storage,Intel HD Graphics,Windows 10,1.5kg,229.0
1319,HP,15-AC110nv (i7-6500U/6GB/1TB/Radeon,Notebook,15.6,1366x768,Intel Core i7 6500U 2.5GHz,6GB,1TB HDD,AMD Radeon R5 M330,Windows 10,2.19kg,764.0
1320,Asus,X553SA-XX031T (N3050/4GB/500GB/W10),Notebook,15.6,1366x768,Intel Celeron Dual Core N3050 1.6GHz,4GB,500GB HDD,Intel HD Graphics,Windows 10,2.2kg,369.0

#### Formatting column headers

Column headers are typically made lower case and use underscores to separate words. This convention makes it easy to access columns when slicing.

1. Iterate through the columns. You can access columns of a dataframe with the ```.columns``` accessor.
2. Use the ```.lower()``` and ```.strip()``` method on each element of columns and make all columns lowercase and remove extra spaces.
3. Assign the new list to the original dataframe again by accessing it with columns. Hint ```laptops.columns = #your solution here```

Bonus: Do steps 1-3 in a one line command. Hint use list comprehension.

In [3]:
#Your Code Here

laptops.columns = [col.lower().strip() for col in laptops.columns]
laptops.columns

Index(['company', 'product', 'type-name', 'inches', 'screen-resolution', 'cpu',
       'ram', 'memory', 'gpu', 'opsys', 'weight', 'price(euros)'],
      dtype='object')

Create a cleaning function to further clean the column names.

The function should take in a string and do the following:
1. Change the 'opsys' column to 'os' using the ```.replace()``` method
2. Add an _ for any spaces between words.
3. Remove any ( or ) characters

The function should return a string. Use your function in the list comprehension and assign the new values to the dataframe column headers.

In [4]:
string = "price(euros)"

def cleaner(string):
        string = string.replace("-","_")
        string = string.replace("(","").replace(")","")
        if string == "opsys":
            string = string.replace("opsys","os")
    #Your Code Here
        return string

cleaner(string)

'priceeuros'

In [5]:
#Run when your function is ready
#Add your function here.
laptops.columns = [cleaner(col) for col in laptops.columns]
laptops.columns

Index(['company', 'product', 'type_name', 'inches', 'screen_resolution', 'cpu',
       'ram', 'memory', 'gpu', 'os', 'weight', 'priceeuros'],
      dtype='object')

#### Modify Column Data

Inspect the 'ram' column. Right now this column isn't useful because we have numeric and text data mixed. How do you think we can make it useful as a numeric column?

1. Use the ```Series.unique()``` method and identify the unique values in the column. Print out the result.
2. Use what you learned in the above cell to call ```Series.str.replace()``` and remove the text from the 'ram' column.
3. Assign the result back to the laptops 'ram' column.
4. Use ```.info()``` and inspect the column's datatype. What do you notice?

In [6]:
#Your Code Here

def cleaner_ram(string):
        string = string.replace("GB","")
    #Your Code Here
        return string
    
cleaner_ram('16GB')

'16'

In [7]:
laptops['ram']
laptops['ram'] = [cleaner_ram(x) for x in laptops['ram']]
laptops.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1303 entries, 1 to 1320
Data columns (total 12 columns):
company              1303 non-null object
product              1303 non-null object
type_name            1303 non-null object
inches               1303 non-null float64
screen_resolution    1303 non-null object
cpu                  1303 non-null object
ram                  1303 non-null object
memory               1303 non-null object
gpu                  1303 non-null object
os                   1303 non-null object
weight               1303 non-null object
priceeuros           1303 non-null float64
dtypes: float64(2), object(10)
memory usage: 132.3+ KB

We changed the 'ram' column to only numeric values. Notice how when we called ```.info()``` it was still an object datatype? We need to transform the column to a numeric only type.

1. Use ```.astype()``` to convert ```laptops['ram']``` to an appropriate datatype

In [8]:
laptops['ram'] = laptops['ram'].astype('float64')
laptops.info()

#Your Code Here

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1303 entries, 1 to 1320
Data columns (total 12 columns):
company              1303 non-null object
product              1303 non-null object
type_name            1303 non-null object
inches               1303 non-null float64
screen_resolution    1303 non-null object
cpu                  1303 non-null object
ram                  1303 non-null float64
memory               1303 non-null object
gpu                  1303 non-null object
os                   1303 non-null object
weight               1303 non-null object
priceeuros           1303 non-null float64
dtypes: float64(3), object(9)
memory usage: 132.3+ KB

#### Extracting and Mapping Data

1. Run value counts on the 'gpu' column. How many different GPUs are there?
2. The example code reuces the 'gpu' column to a handful of manufacturers and saves the result in a new column.
3. Investigate the 'cpu' column. 
    - Can we reduce the number of manufactuerers like we did for 'gpu'? 
    - Save the result in a new column under the name 'cpu manifacturers'
    - How many cpu manufacturers are there?

In [9]:
laptops["gpu_manufacturer"] = (laptops["gpu"]
                                       .str.split()
                                       .str[0]
                              )
#Your Code Here
laptops["gpu_manufacturer"].value_counts()

Intel     722
Nvidia    400
AMD       180
ARM         1
Name: gpu_manufacturer, dtype: int64

In [10]:
#Your Code Here
laptops['cpu'].value_counts()
laptops["cpu_manufacturer"] = (laptops["cpu"]
                                       .str.split()
                                       .str[0]
                              )
laptops["cpu_manufacturer"].value_counts()

Intel      1240
AMD          62
Samsung       1
Name: cpu_manufacturer, dtype: int64


We can change elements within a series or dataframe with a map. A map is a dictionary that tells the function which vlaues to change, and what they should be changed to.
â€‹
1. Use ```.value_counts()``` to inspect the values in the 'os' column
2. Define a map that standardizes the entries. I.e. Windows 7 and Windows 10 S would become windows
3. Use the method ```Series.map()``` with the dictionary to change the values in the 'os' column. Reassign your result back to the 'os' column.

In [11]:
#Your Code Here
laptops['os'].value_counts()

Windows 10      1072
No OS             66
Linux             62
Windows 7         45
Chrome OS         27
macOS             13
Windows 10 S       8
Mac OS X           8
Android            2
Name: os, dtype: int64

In [13]:
laptops['os_new'] = laptops['os'].apply(lambda x: x.split()[0])
    
laptops['os_new'].value_counts()

Windows    1125
No           66
Linux        62
Chrome       27
macOS        13
Mac           8
Android       2
Name: os_new, dtype: int64

In [15]:
laptops['os'] = laptops['os_new']

In [16]:
#Your Code Here


laptops['os']

1         macOS
2         macOS
3            No
4         macOS
5         macOS
6       Windows
7           Mac
8         macOS
9       Windows
10      Windows
11           No
12           No
13        macOS
14      Windows
15        macOS
16        macOS
17      Windows
18        macOS
19           No
20      Windows
21      Windows
22      Windows
23           No
24      Windows
25      Windows
26      Windows
27          Mac
28      Windows
29      Windows
30      Windows
         ...
1291    Windows
1292    Windows
1293    Windows
1294    Windows
1295      Linux
1296    Windows
1297    Windows
1298    Windows
1299      Linux
1300    Windows
1301    Windows
1302    Windows
1303    Windows
1304    Windows
1305    Windows
1306    Windows
1307    Windows
1308    Windows
1309      Linux
1310    Windows
1311    Windows
1312    Windows
1313      Linux
1314    Windows
1315    Windows
1316    Windows
1317    Windows
1318    Windows
1319    Windows
1320    Windows
Name: os, Length: 1303, dtype: object

#### Dropping missing values
1. We can inspect the number of nan values in each column with the .isnull() method.
    - How many missing values are there in each column?
    - Are there any columns with only nan values?
    - What percentage of missing values are there per row?
2. Use the .dropna() method to drop any rows with missing values.
3. On a copy of the laptops dataframe drop any columns that have missing values with .dropna()

In [23]:
#Your Code Here

laptops.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1303 entries, 1 to 1320
Data columns (total 15 columns):
company              1303 non-null object
product              1303 non-null object
type_name            1303 non-null object
inches               1303 non-null float64
screen_resolution    1303 non-null object
cpu                  1303 non-null object
ram                  1303 non-null float64
memory               1303 non-null object
gpu                  1303 non-null object
os                   1303 non-null object
weight               1303 non-null object
priceeuros           1303 non-null float64
gpu_manufacturer     1303 non-null object
cpu_manufacturer     1303 non-null object
os_new               1303 non-null object
dtypes: float64(3), object(12)
memory usage: 162.9+ KB

In [21]:
#Your Code Here

company               0.000000
product               0.000000
type-name             0.000000
inches                0.000000
screen-resolution     0.000000
cpu                   0.000000
ram                   0.000000
memory                0.000000
gpu                   0.000000
os                   82.271681
weight                0.000000
priceeuros            0.000000
gpu_manufacturer      0.000000
cpu_manufacturer      0.000000
dtype: float64

In [17]:
#Your Code Here

#### Binning: Discreet to categorial
1. Investigate the 'inches' column with .value_counts()
    - Is the information useful in its current form?
    - If no, how can we make this information more useful?
2. Use pd.cut() to construct three bins from the 'inches' column
3. Assign the result to a new column 'screen_size'.
4. Call .value_counts() on the new column.
    - Is this more useful to categorize laptops by screen size?
    - How useful/not useful is doing something like this?
    - When would this make sense to do?

In [25]:
#Your Code Here
laptops['inches'].value_counts()

15.6    665
14.0    197
13.3    164
17.3    164
12.5     39
11.6     33
13.9      6
13.5      6
12.0      6
12.3      5
15.4      4
10.1      4
15.0      4
13.0      2
18.4      1
14.1      1
17.0      1
11.3      1
Name: inches, dtype: int64

In [26]:
laptops['screen_size']=pd.cut(laptops['inches'],3)
laptops['screen_size'].value_counts()

(12.867, 15.633]    1049
(15.633, 18.4]       166
(10.092, 12.867]      88
Name: screen_size, dtype: int64

#### Conversions and exporting
1. Convert the values in the weight column to numeric values.
2. Rename the weight column to weight_kg.
3. Use the .to_csv() method to save the laptops dataframe to a CSV file laptops_cleaned.csv without index labels.

In [42]:
#Your Code Here
laptops['weight'].value_counts()

def clean_w(s):
    s = s.replace('kg',' ')
    return s

clean_w('2.2kg')

laptops['weight'] = [clean_w(s) for s in laptops['weight']]
laptops['weight'].value_counts()

laptops.rename(columns={'weight':'weight_kg'},inplace=True)
laptops.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1303 entries, 1 to 1320
Data columns (total 16 columns):
company              1303 non-null object
product              1303 non-null object
type_name            1303 non-null object
inches               1303 non-null float64
screen_resolution    1303 non-null object
cpu                  1303 non-null object
ram                  1303 non-null float64
memory               1303 non-null object
gpu                  1303 non-null object
os                   1303 non-null object
weight_kg            1303 non-null object
priceeuros           1303 non-null float64
gpu_manufacturer     1303 non-null object
cpu_manufacturer     1303 non-null object
os_new               1303 non-null object
screen_size          1303 non-null category
dtypes: category(1), float64(3), object(12)
memory usage: 164.2+ KB